* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

    body {
    display: flex;
    font-family: 'Caveat', cursive;
    color: rgb(3, 8, 30);
    }


  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 600px;
    max-width: 1890px;
    background-position: center 0;
    background-size: 100% auto;
  }
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .mainWrapper {
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 64, 80, 0.37);
  }

  .radio {
    opacity: 0.5;
    width: 80%;
    height: 80%;
  }

  #time {
    font-size: 6rem;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }

  .dateSlyle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    opacity: 0.9;
  }

  .radioWrapper {
    margin: 0 3rem;
  }

  .weatherWrapper {
    margin:2rem 4rem;
    padding:15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: rgba(30, 32, 32, 0.3);;
  }

  /*.temperature {
    font-size: 1.9rem;
  }

  .weather-description {
    font-size: 1.4rem;
  }*/


  .btn {
    width: 60px;
    height: 60px;
    border: 0;
    background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
  }
  .btn:hover {
    filter: grayscale(.8);
  }
  .btn:active,
  .btn:focus {
    outline: 0;
  }
  .btn:active{
    transform: scale(1.02)
  }

  @media (max-width: 700px) {
    #time {
      font-size: 5rem;
    }
  }



